<div class="body-content">
  <div class="nav-bar-container">
    <nav class="nav-bar">
      <mat-toolbar class="expanded-toolbar">
        <button mat-icon-button fxShow="true">
          <mat-icon (click)="sidenav.toggle()">horizontal_split</mat-icon>
          <mat-icon *ngIf="!sidenav"> notes</mat-icon>
        </button>
        <span
          class="navbar-brand mb-0 h1"
          style="font-family: 'URW Gothic';"
          matTooltip="Craft of perfection"
          ><img src="/assets/images/ohm.png" style="height: auto;" />
          {{ title }}|
        </span>

        <span fxFlex fxLayout fxLayoutAlign="end" class="mt-3" style="font-family: serif;">
          <mat-icon class="mt-1" color="primary">watch_later</mat-icon>
          {{ currentTime | date: "yyyy/MM/dd ' ,' HH:mm:ss" }}
        </span>
        <!-- test -->
        <div fxFlex fxLayout fxLayoutAlign="end">
          <div
            mat-card-avatar
            class="example-header-image mr-4 mt-3"
            [matMenuTriggerFor]="menu"
          ></div>

          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/ganapati/profile">
              <mat-icon>person</mat-icon>
              <span>Profile</span>
            </button>
            <button mat-menu-item routerLink="/ganapati/profile/edit-profile">
              <mat-icon>settings</mat-icon>
              <span>Account Setting</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>power_settings_new</mat-icon>
              <span>Log out</span>
            </button>
          </mat-menu>
        </div>
      </mat-toolbar>
    </nav>
  </div>

  <!-- side nav-bar -->
  <mat-sidenav-container>
    <mat-sidenav #sidenav position="start" mode="side" opened>
      <mat-nav-list>
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>people</mat-icon> Customers
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>
              <div mat-subheader>
                <a routerLink="customer">Customers List</a>
              </div>

              <mat-divider></mat-divider>
              <div mat-subheader>
                <a routerLink="customer/add-customer">Add Customer</a>
              </div>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-divider> </mat-divider>

        <mat-divider> </mat-divider>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div style="height: 93vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
