<div class="content-wrapper">
  <mat-card class="mortgagedetail-card mt-4 mb-4">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mortgage details collection: </mat-card-title>
      <mat-card-subtitle>Below are the lists of mortgages: </mat-card-subtitle>
    </mat-card-header>
    <!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <mat-list>
        <h3 mat-subheader >Detials:</h3>
        <mat-list-item>
          <mat-icon mat-list-icon >details</mat-icon>
          <!--<div>
            <a
              [routerLink]="['/createmortgages']"
              mat-stroked-button
              color="primary"
              class="mt-3 mb-3"
            >Add Mortgage Detail: <mat-icon align="center">add</mat-icon></a
            >
          </div>    -->
          <div *ngFor="let item of mortgages">
          <h4 mat-line>Mortgage Id: {{ item.mortgageId }}</h4>
          <h4 mat-line>Valuation: {{ item.amount }}</h4>
          <h4 mat-line>Date: {{ item.engDate | date }}</h4>
          <h4 mat-line>Interest: {{ interest }}</h4>
          <h4 mat-line>Interest Received: {{ item.interestReceivedCollection[0] }}</h4>
        </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goToList()">
        <mat-icon aria-label="arrow back" color="primary">arrow_back</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- test table -->
<div class="content-wrapper">
  <div
    fxLayout
    fxLayout.lt-md="column wrap"
    fxLayoutAlign="center center"
    fxLayoutGap.gt-sm="250px"
    fxLayoutGap.lt.md="20px"
  >
    <!-- search  -->
  </div>
  <div class="example-container mat-elevation-z8 table-responsive">
    <!--<div class="spinner-container" *ngIf="customerListTableDataSource==''">
    <mat-spinner></mat-spinner>
  </div>-->

    <table
      mat-table
      [dataSource]="mortgageDetails"
      matSort
      class="example-full-width mb-3"
      hover="true"
    >
      <!-- S.N -->
      <ng-container matColumnDef="sn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>S.N</th>
        <td mat-cell *matCellDef="let element;index as i">{{ i+1 }}.</td>
      </ng-container>
      <!-- date -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.nepDate| date }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">
          {{ element.status | titlecase }}
        </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="days">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Days</th>
        <td mat-cell *matCellDef="let element">
          {{ element.day }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row; index as i">
          <ganapati-action-buttons
            [enableAdd]
            [enableEdit]
            [enableDelete]
          ></ganapati-action-buttons>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <!-- <mat-paginator
    [length]="customerListTableDataSource.filteredData.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 100]"
    showFirstLastButtons
  >
  </mat-paginator> -->
</div>
