<!-- mortgage form page -->
<div class="content-wrapper">
  <!-- breadcrumb -->
  <ganapati-breadcrumb></ganapati-breadcrumb>
  <div id="mortgageForm-card">
    <section fxLayout="row wrap" fxLayoutAlign="center center">
      <mat-card fxFlex="500px" fxFlex.xs="100%" class="mt-4">
        <mat-card-title align="center">Add mortgage </mat-card-title
        ><mat-card-subtitle *ngFor="let customer of customers" align="center"
          >Customer:
          <strong
            ><u style="color: rgb(65, 65, 156);"
              >{{ customer.fname | titlecase }}
              {{ customer.lname | titlecase }}</u
            >
          </strong></mat-card-subtitle
        >
        <mat-divider></mat-divider>
        <form
          [formGroup]="mortgageForm"
          autocomplete="off"
          novalidate
          fxLayout="column wrap"
          fxLayoutAlign="center center"
          fxLayoutGap="10px"
        >
          <mat-card-content>
            <!-- quantity -->
            <div class="row">
              <div class="col-md-6 col-sm-6 mx-auto mt-4 " >
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    type="text"
                    placeholder="Quantity"
                    formControlName="qty"
                    id="qty"
                  />
                  <mat-hint align="end"
                    >Enter the quantity of item in grams(gm).</mat-hint
                  >
                  <mat-error *ngIf="mortgageForm.controls['qty'].invalid">{{
                    getQuantityErrorMessage()
                  }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <!-- reason -->
            <div class="row">
              <div class="col-md-6 col-sm-6 mx-auto">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    type="text"
                    placeholder="Reason"
                    formControlName="reason"
                    id="reason"
                  />
                  <mat-hint align="end">Enter the reason of deposit.</mat-hint>
                  <mat-error *ngIf="mortgageForm.controls['reason'].invalid">{{
                    getReasonErrorMessage()
                  }}</mat-error>
                </mat-form-field>
              </div>
            </div>

            <!-- amount -->

            <div class="row">
              <div class="col-md-6 col-sm-6 mx-auto">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    type="number"
                    placeholder="Amount"
                    formControlName="amount"
                    id="amount"
                  />
                  <mat-hint align="end">Amount given to the client.</mat-hint>
                  <mat-error *ngIf="mortgageForm.controls['amount'].invalid">{{
                    getAmountErrorMessage()
                  }}</mat-error>
                </mat-form-field>
              </div>
            </div>

            <!-- notificaton -->
            <div class="row">
              <div class="col-md-6 col-sm-6 mx-auto">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    type="number"
                    placeholder="Notifications"
                    formControlName="notiSeen"
                    id="notiSeen"
                  />
                  <mat-hint align="end"
                    >Number of notifications send to the client.</mat-hint
                  >
                  <mat-error
                    *ngIf="mortgageForm.controls['notiSeen'].invalid"
                    >{{ getNotificationErrorMessage() }}</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <!-- fake mortgage id -->
            <div class="row">
              <div class="col-md-6 col-sm-6 mx-auto">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    type="number"
                    placeholder="Fake Mortgage_Id"
                    formControlName="fakeMortId"
                    id="fakeMortId"
                  />
                  <mat-hint align="end">Hand written bill number.</mat-hint>
                  <mat-error
                    *ngIf="mortgageForm.controls['fakeMortId'].invalid"
                    >{{ getFakeMortIdrrorMessage() }}</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <!-- nepali date of transaction -->
            <div class="row">
              <div class="col-md-6 col-sm-6 mx-auto">
                <mat-form-field class="example-full-width">
                  <mat-label>Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker2"
                    formControlName="nepDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker2"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                  <mat-hint align="end">Date of transaction.(B.S)</mat-hint>
                  <mat-error *ngIf="mortgageForm.controls['nepDate'].invalid">{{
                    getNepaliDateErrorMessage()
                  }}</mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-divider></mat-divider>

          <!-- save/cancel -->
          <div class="row">
            <div class="col-md-9 col-sm-6">
              <mat-card-actions align="center">
                <ganapati-save-cancel-buttons
                  (save)="onSave()"
                  (cancel)="onCancel()"
                >
                </ganapati-save-cancel-buttons>
              </mat-card-actions>
            </div>
          </div>
        </form>
      </mat-card>
    </section>
  </div>
</div>
