<!-- mortgage list -->
<div class="content-wrapper">
  <!-- breadcrumb -->
  <ganapati-breadcrumb></ganapati-breadcrumb>
  <section fxLayout="row wrap" fxLayoutAlign="center center">
    <div id="mortgage-card">
      <mat-card class="mt-4 mb-4" style="width: 40rem;">
        <mat-card-title align="center">Mortgages information: </mat-card-title>
        <mat-card-subtitle *ngFor="let customer of customers" align="center"
          >Customer:
          <strong class="mt-2">
            <u style="color: rgb(65, 65, 156);"
              >{{ customer.fname | titlecase }}
              {{ customer.lname | titlecase }}</u
            >
          </strong>
        </mat-card-subtitle>
        <mat-divider></mat-divider>

        <!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
        <mat-card-content>
          <mat-list>
            <h3 mat-subheader><u>Details:</u></h3>
            <mat-list-item *ngFor="let mortgage of mortgages; index as i">
              <h4>
                <ganapati-action-buttons
                  (add)="onAdd(mortgage.mortgageId, id)"
                  (edit)="onEdit()"
                  (delete)="onDelete(mortgage)"
                ></ganapati-action-buttons>
              </h4>

              <h4
                mat-line
                style="cursor: pointer;"
                onmouseover="this.style.color ='red'"
                onMouseOut="this.style.color='black'"
                matTooltip="Show more mortgage detail information."
                (click)="showDetails(mortgage.mortgageId, id)"
              >
                Mortgage id: {{ mortgage.fakeMortId }}
              </h4>
              <h4 mat-line>Amount: {{ mortgage.amount }}</h4>
              <h4 mat-line>Date (Nepali): {{ mortgage.nepDate | date }}</h4>
              <mat-divider></mat-divider>
            </mat-list-item>
            <!-- <mat-divider></mat-divider> -->
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button color="basic" (click)="goToList()">
            <mat-icon aria-label="arrow back" color="primary"
              >arrow_back</mat-icon
            >
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div>
