// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ganapatiAngular-primary: mat-palette($mat-indigo);
$ganapatiAngular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ganapatiAngular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ganapatiAngular-theme: mat-light-theme(
  $ganapatiAngular-primary,
  $ganapatiAngular-accent,
  $ganapatiAngular-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ganapatiAngular-theme);

/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr";

// keyframes
@-webkit-keyframes notesMembers {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes notesMembers {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  font-size: 1rem;
}

.body-content {
  position: relative;
  background: #f0f0fa;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
  min-height: 100vh;
}

a:active {
  color: red;
}
.horizontal-layout .body-content {
  padding-left: 0;
}

.content-wrapper {
  // padding: 2rem;
  margin: 2rem;
}

.example-full-width {
  width: 100%;
  margin-bottom: 1rem;
}

// side-nav
mat-sidenav {
  width: 250px;
  background: inherit;
}

.logout-btn {
  color: red;
  position: relative;
}

.nav-bar-container {
  background-color: whitesmoke;
}

.nav-bar {
  position: relative;
  margin-left: 12%;
  height: 5rem;

  mat-icon {
    size: 150px;
    // padding-right: 12px;
  }
}

.mat-nav-list,
.mat-icon {
  margin-right: 16px;
  color: coral;
}

#sidenav {
  border-bottom: 1px red;
}

.logout:hover {
  border-bottom: red;
  color: red;
}
#customerForm-card {
  display: grid;
  place-items: center;
}
#interestForm-card {
  display: grid;
  place-items: center;
}
#mortgage-card {
  display: grid;
  place-items: center;
}
#mortgageForm-card {
  display: grid;
  place-items: center;
}

#mortgageDetail-card {
  display: grid;
  place-items: center;
}
#mortgageDetailForm-card {
  display: grid;
  place-items: center;
}
#interestForm-card {
  display: grid;
  place-items: center;
}
/*
mat-card {
  display: grid;
  place-items: center;
} */

/* Error 404 */
.error-404 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url('https://via.placeholder.com/1920x1080');
  background-size: cover;
  background-position: center center;
  z-index: 2;
}
.error-404::before,
.lock-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: coral;
  z-index: -1;
}
.error-404 .content-wrapper {
  text-align: center;
}
.error-404 .content-wrapper i::before {
  font-size: 8rem;
}
.error-404 .content-wrapper a i {
  margin-right: 5px;
}
.error-404 .content-wrapper h3 {
  font-size: 24px;
  font-weight: 400;
}
.error-404 .content-wrapper h1,
.error-404 .content-wrapper h3,
.error-404 .content-wrapper p,
.error-404 .content-wrapper i::before {
  color: #fff;
  margin-bottom: 1rem;
}
